{% extends "main.html" %}





{% block body %}





<ol class="ordre_infos">
    {% for t in liste %}





    <div class="affiches">

        <li class="nom_affiches"> {{t}} </li>

        <div class="liens_CRUD2">
            <a id ="R" href="/Gestion_Serveurs/affichetype_serveurs/{{t.id}}/"> Affiche </a> 
            <a id="U" href="/Gestion_Serveurs/updatetype_serveurs/{{t.id}}/"> Update </a> 
            <a id="D" href="/Gestion_Serveurs/deletetype_serveurs/{{t.id}}/"> Delete </a> 
        </div>

    </div>





        
    {% endfor %}
</ol>
    
{% endblock body %}