{% extends "main.html" %}





{% block body %}

{% if id is not None%}


<form action="/Gestion_Serveurs/updatetraitementapplications/{{id}}/" method="post" id="formulaire">

    {% else %}
    <form action="/Gestion_Serveurs/traitementapplications/" method="post" id="formulaire" enctype="multipart/form-data">
    {% endif %}




        {% csrf_token %}

    <div class="signupSection">

        <div class="info">
            <h2>Saisie d'un nouveau service ! </h2>
            <i class="icon ion-ios-ionic-outline" aria-hidden="true"></i>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et non adipisci illo quae quidem rem ullam nostrum quos alias, iusto ad porro minus nesciunt accusamus, ab aperiam maxime reprehenderit impedit!</p>
        </div>


        <ul class="noBullet">



            <div class="formulaires">
        {{form.as_ul}}
            </div>




        <li id="center-btn">
            <input type="submit" id="join-btn" name="join" alt="Join" value="Envoyer les données">
        </li>
        </ul>

    </div>

    </form>

    
{% endblock body %}