{% extends "main.html" %}





{% block body %}

{% if id is not None%}


<form action="/Gestion_Serveurs/updatetraitementserveurs/{{id}}/" method="post" id="formulaire">

    {% else %}
    <form action="/Gestion_Serveurs/traitementserveurs/" method="post" id="formulaire">
    {% endif %}




        {% csrf_token %}

    <div class="signupSection">

        <div class="info">
            <h2>Saisie d'un nouveau serveur ! </h2>
            <i class="icon ion-ios-ionic-outline" aria-hidden="true"></i>
            <p>Vous pouvez ici ajouter des nouveaux serveur. Avant d'ajouter un serveur, veuillez bien vérifier si un type de serveur a été créé. Lors de l'ajout de nouveaux services sur un serveur, la capacité de mémoire s'adapteras automatiquement et vous avertiras lorsqu'il n'y auras plus d'espace disponible. </p>
        </div>


        <ul class="noBullet">



            <div class="formulaires">
        {{form.as_ul}}
            </div>




        <li id="center-btn">
            <input type="submit" id="join-btn" name="join" alt="Join" value="Envoyer les données">
        </li>
        </ul>

    </div>

    </form>

    
{% endblock body %}