{% extends "main.html" %}





{% block body %}

{% if id is not None%}


<form action="/Gestion_Serveurs/updatetraitementtype_serveurs/{{id}}/" method="post" id="formulaire">

    {% else %}
    <form action="/Gestion_Serveurs/traitementtype_serveurs/" method="post" id="formulaire">
    {% endif %}
    
        {% csrf_token %}
        <div class="signupSection">
    
            <div class="info">
                <h2>Saisie d'un nouveau type de serveur ! </h2>
                <i class="icon ion-ios-ionic-outline" aria-hidden="true"></i>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et non adipisci illo quae quidem rem ullam nostrum quos alias, iusto ad porro minus nesciunt accusamus, ab aperiam maxime reprehenderit impedit!</p>
            </div>
        
        
            <ul class="noBullet">
        
                <li>
                    <label for="id_type">Type : </label>
                    <input type="text" name="type" maxlength="100" id="id_type" class="inputFields">
                </li>
                <li>
                    <label for="id_description">Description : </label>
                    <input type="text" name="description" maxlength="100" id="id_description" class="inputFields">
                </li>

                <li id="center-btn">
                    <input type="submit" id="join-btn" name="join" alt="Join" value="Envoyer les données">
                </li>
        
            </ul>
        
        </div>
    
    </form>

    
{% endblock body %}