{% extends "main.html" %}





{% block body %}

{% if id is not None%}


<form action="/Gestion_Serveurs/updatetraitementtype_serveurs/{{id}}/" method="post" id="formulaire">

    {% else %}
    <form action="/Gestion_Serveurs/traitementtype_serveurs/" method="post" id="formulaire">
    {% endif %}




        {% csrf_token %}

    <div class="signupSection">

        <div class="info">
            <h2>Saisie d'un nouveau type de serveur ! </h2>
            <i class="icon ion-ios-ionic-outline" aria-hidden="true"></i>
            <p>Vous pouvez ici ajouter des nouveaux types de serveurs, les données attendues pour ce formulaire sont des systems d'exploitation.</p>
        </div>


        <ul class="noBullet">



            <div class="formulaires">
        {{form.as_ul}}
            </div>




        <li id="center-btn">
            <input type="submit" id="join-btn" name="join" alt="Join" value="Envoyer les données">
        </li>
        </ul>

    </div>

    </form>

    
{% endblock body %}